.search_header {
  text-align: center;
}
.search_current_owner {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 2%;
  padding: 3%;
  border: 1px solid grey;
}

.result {
  margin: 10px;
}
